<template>
    <div :class="'count ' + props.class">
        <button onclick="disCount">-</button>
        <input type="number" :value="props.value" onchange="handleChange" />
        <button onclick="addCount">+</button>
        <div>dabuleTatal: {dabuleTatal} ，子组件times:{_g.times}</div>
    </div>
</template>
<script>
    export default {
        name: 'Count',
        data() {
            return {
                num: 2,
                dabuleTatal() {
                    return this.num + this.props.value;
                }
            }
        },
        methods: {
            disCount() {
                const { onChange, value } = this.props;
                onChange(value - 1);
            },
            addCount() {
                const { onChange, value } = this.props;
                onChange(value + 1);
            },
            handleChange(e) {
                const { onChange } = this.props;
                onChange(Number(e.target.value));
            }
        },
        mounted() {
            console.log('vuip-component');
        },
        unmounted() {
            console.log('count:' + 'unmounted')
        }
    }
</script>