<template>
    <div>页脚{name} === {props.title}
        <slot></slot>
    </div>
</template>
<script>
    import Header from '@/components/header.html';

    export default {
        name: 'footer',
        data() {
            return {
                name: 'footer'
            }
        },
        mounted() {
            // this.render();
            // console.log(this.props)
            setTimeout(() => {
                this.setData({
                    name: 'footer我变了'
                });
            }, 2000);
        }
    }
</script>