<template>
    <div>
        <slot></slot>
        <div>props : {props.title}</div>
        <Footer :title="title">是是是</Footer>
        <v-if test="isReal > 2">
            <div>你好，我是真的</div>
        </v-if>
        <v-if test="header.number > 5">
            <div>你好，我的假的</div>
        </v-if>
    </div>
</template>
<script>
    import Footer from '@/components/footer.html';

    export default {
        name: 'header',
        data() {
            return {
                isReal: 5,
                title: '头部导航',
                header: {
                    number: 5
                }
            }
        },
        component: {
            Footer
        },
        mounted() {
            console.log('header');
        }
    }
</script>