<template>
    <div class="media">
        <div class="head">
            <img src="https://y.gtimg.cn/music/photo_new/T002R300x300M000003c616O2Zlswm.jpg?max_age=2592000" />
        </div>
        <div class="body">
            <h3>{props.item.name + props.key}</h3>
            <div class="info">
                <span>歌手名：{props.item.author}</span>
                <span> | </span>
                <span>专辑名：幸福</span>
            </div>
            <div class="info">发行日期：2019-12-10</div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'mediaItem',
        data() {
            return {
                isReal: 5,
                title: '头部导航',
                header: {
                    number: 5
                }
            }
        },
        mounted() {

        }
    }
</script>