<template>
    <div style="position: relative; z-index: 99;">
        <div style="height: 50px;"></div>
        <div class="nav">
            <v-for data="list" item="item" index="i">
                <a :class="'nav-item ' + (props.active === i ? 'active' : '')" :href="item.href">
                    <img :src="props.active === i ? item.activeIcon : item.icon" />
                    <div class="text">{item.name}</div>
                </a>
            </v-for>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'nav',
        data() {
            return {
                list: [
                    { name: '发现', href: '/', icon: require('../assets/icons/index.png'), activeIcon: require('../assets/icons/index-active.png') },
                    { name: '工具', href: 'javascript:void(0);', icon: require('../assets/icons/tool.png'), activeIcon: require('../assets/icons/tool.png') },
                    { name: '场景', href: 'javascript:void(0);', icon: require('../assets/icons/haowu.png'), activeIcon: require('../assets/icons/haowu.png') },
                    { name: '收益', href: '/order', icon: require('../assets/icons/shouyi.png'), activeIcon: require('../assets/icons/shouyi-active.png') },
                    { name: '我的', href: 'javascript:void(0);', icon: require('../assets/icons/mine.png'), activeIcon: require('../assets/icons/mine.png') }
                ]
            }
        },
        mounted() {
            console.log(this.props)
        },
        unmounted() {
            console.log('nav unmounted')
        }
    }
</script>