// theme color
@theme : #1890ff;
@info  : #1890ff;
@warn  : #ff762e;
@error : #d9363e;
@white : #fff;

@theme-light       : #91d5ff;
@theme-light-trans : rgba(145, 213, 255, 0.3);
@info-light        : #91d5ff;
@warn-light        : #ffe58f;
@error-light       : #ffccc7;

@border-color      : #ddd;
@border-color-light: #f0f0f0;
@border-color-dark : #999;

// mixins
@import 'mixins.less';