@import './assets/less/mixins.less';
@import './assets/less/ui.less';

@font-face {
    font-family: electronicFont;
    src        : url(./assets/font/DS-DIGIT.TTF);
}

body {
    -webkit-text-size-adjust: none;
    text-size-adjust        : none;
    padding                 : 0;
    margin                  : 0;
    font-family             : '微软雅黑';
    background-color        : #f1f2c1;
    line-height             : 1;
    color                   : #333;
}

#app {
    font-size: 14px;
}

h1,
h2,
h3,
p {
    margin : 0;
    padding: 0;
}

h3 {
    margin-bottom: 10px;
}

.flex {
    display    : flex;
    align-items: center;

    .item {
        flex: 1;
    }
}

.ell {
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

.mN(1, 9, 1);
.mN(12, 32, 2);
.mN(10, 30, 5);
.pN(1, 9, 1);
.pN(12, 32, 2);
.pN(10, 30, 5);
.fN(12, 32, 2);

.nav-item {
    margin: 10px;
}

/* 
[href]:active,
button:active {
    box-shadow: 0 0 0 999px rgba(0, 0, 0, .05);
} */