<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="axios.min.js"></script>
</head>

<body>
    <div id="app">

        <!-- <input type="text" v-model="name" />
        <input type="text" v-model="obj.name" />
        <div>你好神州优车，我是{{name}}，我今年{{age}}岁</div>
        <div>你好神州优车，<div>我是{{name}}</div>
        </div>
        <div>我{{obj.name}}今年{{obj.age}}岁</div> -->
    </div>
</body>

</html>